aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anthropic
anyio
apify_client
apify_shared
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
attrs
Babel
bcrypt
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
chardet
charset-normalizer
chromedriver-autoinstaller
click
colorama
comm
contourpy
cryptography
cycler
dataclasses-json
db-dtypes
debugpy
decorator
defusedxml
distro
docstring_parser
ecdsa
et_xmlfile
executing
fastapi
fastjsonschema
filetype
fonttools
fqdn
frozenlist
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-bigquery
google-cloud-core
google-cloud-storage
google-crc32c
google-genai
google-resumable-media
googleapis-common-protos
greenlet
grpcio
grpcio-status
gspread
gspread-dataframe
h11
httpcore
httplib2
httptools
httpx
httpx-sse
idna
iniconfig
ipykernel
ipython
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
jiter
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
kiwisolver
langchain
langchain-anthropic
langchain-classic
langchain-community
langchain-core
langchain-google-genai
langchain-mcp-adapters
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lxml
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mcp
mistune
multidict
mypy_extensions
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numpy
oauth2client
oauthlib
openpyxl
orjson
ormsgpack
outcome
overrides
packaging
pandas
pandas-gbq
pandocfilters
parso
passlib
pillow
platformdirs
playwright
plotly
pluggy
polars
prometheus-client
prompt-toolkit
propcache
proto-plus
protobuf
psutil
pure-eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydata-google-auth
pydeck
pyee
Pygments
PyJWT
pymssql
pyodbc
pyparsing
PySocks
pytest
pytest-asyncio
python-dateutil
python-docx
python-dotenv
python-jose
python-json-logger
python-multipart
pytz
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
requests-oauthlib
requests-toolbelt
rfc3339-validator
rfc3986-validator
rpds-py
rsa
selenium
Send2Trash
six
smmap
sniffio
sortedcontainers
soupsieve
SQLAlchemy
sqlalchemy-bigquery
sse-starlette
stack-data
starlette
streamlit
StrEnum
structlog
apscheduler>=3.10.0
tabulate
tenacity
terminado
tinycss2
toml
tornado
tqdm
traitlets
trio
trio-websocket
types-python-dateutil
typing-inspect
typing-inspection
typing_extensions
tzdata
undetected-chromedriver
uri-template
uritemplate
urllib3
uuid_utils
uvicorn
watchdog
watchfiles
wcwidth
webcolors
webdriver-manager
webencodings
websocket-client
websockets
widgetsnbextension
wsproto
XlsxWriter
xxhash
yarl
zstandard
networkx>=3.0
python-louvain>=0.16
